{extend name="public/base"/}
{block name="style"}
<style type="text/css">
    #fileField{
        width: 80px;
        height: 34px;
        position:absolute;
        top:2px;
        opacity: 0;
    }
    #textfield{
        height: 34px;
        width: 240px;
        margin-left: 40px;
    }
    #all{
        margin-left: 15%;
    }
</style>
{/block}
{block name="body"}
<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <div class="pull-left">
            <h2>
                {$meta_title}
            </h2>
        </div>
    </header>
    <div class="main-box-body"  >
        <form method="post" action="upload" class="form form-horizontal" enctype="multipart/form-data"  >
            <div class="form-group" >
                <label class="col-lg-2 control-label">上传推荐商品</label>
            </div>
            <div class="form-group" id="all" >
                <div class="col-lg-6">
                    <input type='button' class='btn btn-success' value='选择文件' />
                    <input type='text' name='textfield' id='textfield' class='txt' />
                    <input type="file" name="fileField" class="file" id="fileField"  onchange="document.getElementById('textfield').value=this.value" />
                </div>
                <input class="btn btn-success "  type="submit" onclick ="return confirm('确定提交嘛？')"target-form="form-horizontal" value="确定"/>
            </div>



        </form>

    </div>
</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-editable.min.js"></script>
{/block}


